<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendTransactionsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SendTransactionsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://pstalive.ipagoo.com/ws/SendTransactions.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendTransactionsSoap"
                contract="SendTransactions.SendTransactionsSoap" name="SendTransactionsSoap" />
        </client>
    </system.serviceModel>
</configuration>